<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>270478936247-gm8o6cbpmjh7g8bv2k12kb6ar9m991tk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270478936247-gm8o6cbpmjh7g8bv2k12kb6ar9m991tk</string>
	<key>API_KEY</key>
	<string>AIzaSyARAIzFUlWPcHJmbFzkFnfo-ZrxYi7WNdY</string>
	<key>GCM_SENDER_ID</key>
	<string>270478936247</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.belleviewbestllc.seventeencard</string>
	<key>PROJECT_ID</key>
	<string>cardgame-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>cardgame-firebase.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:270478936247:ios:1bb0dcee18b7c42036a532</string>
	<key>DATABASE_URL</key>
	<string>https://cardgame-firebase-default-rtdb.firebaseio.com</string>
</dict>
</plist>